<h1>Create a New Order</h1>

<%= form_for @order do |f| %>
  <div>
    <%= f.label :product_ids, "Select Products" %>
    <%= f.collection_select :product_ids, @products, :id, :name, { prompt: "Select products" }, { multiple: true, class: "form-control" } %>
  </div>

  <div>
    <%= f.submit "Create Order" %>
  </div>
<% end %>
